<h2>Edit Article</h2>

<%= render "form.html", Map.put(assigns, :action, publications_article_path(@conn, :update, @article)) %>

<span><%= link "Back", to: publications_article_path(@conn, :index) %></span>
