<h2>Show Article</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @article.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @article.body %>
  </li>

  <li>
    <strong>Views:</strong>
    <%= @article.views %>
  </li>


  <li>
    <strong>Author:</strong>
    <%= author_name(@article) %>
  </li>

</ul>

<span><%= link "Edit", to: publications_article_path(@conn, :edit, @article) %></span>
<span><%= link "Back", to: publications_article_path(@conn, :index) %></span>
